.footer {
    .f-wrap {
        padding: 35px 0;
        background: url(../images/fbg.png) bottom left/cover;

        @media(max-width: 767px) {
            background: url(../images/fbg.png) bottom center/cover;
            flex-direction: column;
        }
    }

    .link-wrap {
        display: flex;

        @media(max-width: 767px) {
            flex-direction: column;
        }
    }

    .n-link {
        color: #673AB7;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 20px;
        display: inline-block;

        @media(max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    .address {
        font-size: 16px;
        font-weight: 700;

        @media(max-width: 767px) {
            font-size: 12px;
            text-align: center;
        }
    }

    .copyright {
        font-size: 16px;
        font-weight: 400;

        @media(max-width: 767px) {
            padding-top: 10px;
            font-size: 12px;
            text-align: center;
        }
    }
}