.header {

    .navbar-collapse {
        .nav-item {
            .nav-link {
                color: #673AB7;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 18px;
                margin-right: 40px;
                position: relative;

                &.active {
                    &::after {
                        position: absolute;
                        content: '';
                        height: 5px;
                        width: 5px;
                        border-radius: 50%;
                        background: #673AB7;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 100%;
                    }
                }
            }
        }
    }

}