.btn-login {
    background: #673AB7;
    border-radius: 39px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        border: 1px solid#673AB7;
    }
}

.btn-contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #673AB7;
    background: #FEC230;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-inline: 20px;

    &:hover {
        border: 1px solid#673AB7;
    }

    @media(max-width:767px) {
        font-size: 25px;
    }
}

.btn-wrap {
    display: inline-block;
    background: #FFD8D8;
    padding: 10px 30px;
    border-radius: 25px;
    width: 45%;
    margin-top: 45px;


    .btn-buy-credit {
        font-family: 'Roboto', sans-serif;
        background: #673AB7;
        border-radius: 35px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 30;
        width: 75%;
        padding: 10px;

        &:hover {
            border: 1px solid#673AB7;
        }
    }

    @media(max-width:767px) {
        width: 90%;
    }
}

.btn-join {
    background: #cb6ce6;
    border-radius: 25px;
    padding: 10px 25px;
    color: #fff;
    font-weight: 700;

    &:hover {
        border: 1px solid#673AB7;
    }
}