@charset "UTF-8";
/*=== abstracts css start === */
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
/*===// end of base css === */
/*=== layouts css start === */
.header .navbar-collapse .nav-item .nav-link {
  color: #673AB7;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-right: 40px;
  position: relative;
}
.header .navbar-collapse .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #673AB7;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}
@media (max-width: 767px) {
  .header .navbar-collapse .nav-item .nav-link.active::after {
    left: 20px;
    top: 90%;
    width: 30px;
    height: 3px;
    border-radius: 5px;
  }
}

.footer .f-wrap {
  padding: 35px 0;
  background: url(../images/fbg.png) bottom left/cover;
}
@media (max-width: 767px) {
  .footer .f-wrap {
    background: url(../images/fbg.png) bottom center/cover;
    flex-direction: column;
  }
}
.footer .link-wrap {
  display: flex;
}
@media (max-width: 767px) {
  .footer .link-wrap {
    flex-direction: column;
  }
}
.footer .n-link {
  color: #673AB7;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline-block;
}
@media (max-width: 767px) {
  .footer .n-link {
    margin-bottom: 10px;
  }
}
.footer .address {
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .footer .address {
    font-size: 12px;
    text-align: center;
  }
}
.footer .copyright {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer .copyright {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.btn-login {
  background: #673AB7;
  border-radius: 39px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn-login:hover {
  border: 1px solid #673AB7;
}

.btn-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #673AB7;
  background: #FEC230;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-inline: 20px;
}
.btn-contact:hover {
  border: 1px solid #673AB7;
}
@media (max-width: 767px) {
  .btn-contact {
    font-size: 25px;
  }
}

.btn-wrap {
  display: inline-block;
  background: #FFD8D8;
  padding: 10px 30px;
  border-radius: 25px;
  width: 45%;
  margin-top: 45px;
}
.btn-wrap .btn-buy-credit {
  font-family: "Roboto", sans-serif;
  background: #673AB7;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30;
  width: 75%;
  padding: 10px;
}
.btn-wrap .btn-buy-credit:hover {
  border: 1px solid #673AB7;
}
@media (max-width: 767px) {
  .btn-wrap {
    width: 90%;
  }
}

.btn-join {
  background: #cb6ce6;
  border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 700;
}
.btn-join:hover {
  border: 1px solid #673AB7;
}

/*===// end of components css === */
.f-banner {
  margin-top: 20px;
  background: url(../images/Faq/FAQ1.png) no-repeat center center/cover;
  padding: 65px 0;
}
.f-banner h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
  padding-bottom: 45px;
}
.f-banner p {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #31358E;
  letter-spacing: 3px;
  font-size: 18px;
}
.f-banner .imgh img {
  margin-bottom: -60px;
}
@media (max-width: 1199px) {
  .f-banner h3 {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .f-banner .imgh img {
    width: 120px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .f-banner {
    margin-top: 0;
    padding: 20px 0;
  }
  .f-banner h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .f-banner p {
    font-size: 10px;
    letter-spacing: normal;
  }
  .f-banner .imgh img {
    width: 50px;
    margin-bottom: -25px;
  }
}

.f-questions {
  padding: 65px 0;
}
@media (max-width: 767px) {
  .f-questions {
    padding: 25px 0;
  }
}
.f-questions .top h4 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
.f-questions .top h4::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
  border-radius: 17px;
}
@media (max-width: 767px) {
  .f-questions .top h4 {
    font-size: 20px;
  }
}
.f-questions .inside {
  padding-top: 40px;
  min-height: 750px;
  background: url(../images/Faq/Liquid-bg.png) no-repeat left top;
}
@media (max-width: 767px) {
  .f-questions .inside {
    min-height: 320px;
    padding-top: 20px;
  }
}
.f-questions .inside .accordion-4 {
  --bs-accordion-border-color: rgba(255, 255, 255, 0);
}
.f-questions .inside .accordion-4 .accordion-item {
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0);
}
@media (max-width: 767px) {
  .f-questions .inside .accordion-4 .accordion-item {
    padding-bottom: 5px;
  }
}
.f-questions .inside .accordion-4 .accordion-header .accordion-button {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  border: none;
  background: rgba(0, 0, 0, 0);
}
.f-questions .inside .accordion-4 .accordion-header .accordion-button:not(.collapsed) {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  border: none;
}
.f-questions .inside .accordion-4 .accordion-header .accordion-button:not(.collapsed)::after {
  content: "−";
  background-image: none;
  transform: none;
}
.f-questions .inside .accordion-4 .accordion-header .accordion-button:after {
  content: "+";
  background-image: none;
  font-size: 48px;
  color: #C28FEF;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .f-questions .inside .accordion-4 .accordion-header .accordion-button:after {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .f-questions .inside .accordion-4 .accordion-header .accordion-button {
    font-size: 20px;
  }
}
.f-questions .inside .accordion-4 .accordion-body {
  font-family: "Crimson Text", serif;
}
.f-questions .inside .accordion-4 .accordion-body p {
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .f-questions .inside .accordion-4 .accordion-body p {
    font-size: 12px;
  }
}

.contact-us {
  text-align: center;
  padding: 120px 0 65px;
}
@media (max-width: 767px) {
  .contact-us {
    padding: 40px 0;
  }
}
.contact-us h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #673AB7;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 55px;
}
@media (max-width: 767px) {
  .contact-us h3 {
    font-size: 20px;
  }
}

.bgm {
  background: url(../images/Mask.png) no-repeat top center/cover;
}

.download {
  text-align: center;
  padding: 65px 0 200px;
}
@media (max-width: 767px) {
  .download {
    padding: 40px 0;
  }
}
.download h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .download h3 {
    font-size: 20px;
  }
}

.home-banner {
  background: url(../images/Home/banner-bg.png) no-repeat center center;
  padding: 40px 0;
}
.home-banner .t-wrap {
  position: relative;
}
.home-banner .t-wrap .frnd-img {
  position: absolute;
  bottom: 90%;
  left: 90%;
  width: 200px;
}
@media (max-width: 1199px) {
  .home-banner .t-wrap .frnd-img {
    left: 75%;
    bottom: 70%;
  }
}
@media (max-width: 767px) {
  .home-banner .t-wrap .frnd-img {
    width: 120px;
    left: calc(100% - 140px);
  }
}
.home-banner h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  padding-bottom: 30px;
}
.home-banner h2 span {
  color: #673AB7;
}
@media (max-width: 767px) {
  .home-banner h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
}
.home-banner p {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .home-banner p {
    font-size: 16px;
  }
}

.features {
  padding: 45px 0 100px;
  background: url(../images/Home/bbg2.png) no-repeat left center;
}
@media (max-width: 767px) {
  .features {
    padding: 0px 0 30px;
  }
}
.features .top h4 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.features .top h4::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
  border-radius: 17px;
}
.features .texts {
  padding-top: 20px;
}
.features .texts .item {
  padding-bottom: 30px;
  padding-left: 30px;
}
.features .texts .item img {
  width: 50px;
  margin-left: -30px;
}
.features .texts .item h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.features .texts .item p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
@media (max-width: 767px) {
  .features .texts .item {
    padding: 0 15px 20px;
  }
  .features .texts .item h4 {
    font-size: 20px;
    text-align: center;
    line-height: 0px;
    padding-bottom: 20px;
  }
  .features .texts .item p {
    font-size: 12px;
  }
}

.special {
  padding: 80px 0 100px;
  background: url(../images/Home/hbbg3.png) no-repeat center center;
}
.special h4 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 30px;
}
.special p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 30px;
}
.special h3 {
  color: #673AB7;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .special {
    padding: 0px;
    text-align: center;
  }
  .special h4 {
    font-size: 40px;
  }
  .special p {
    font-size: 12px;
  }
  .special h3 {
    font-size: 40px;
  }
}

.testimonial {
  background: url(../images/Mask.png) no-repeat top center/cover;
  padding: 100px 0 0;
}
.testimonial .top h4 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.testimonial .top h4::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 15%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
  border-radius: 17px;
}
.testimonial .testimonial-wrap {
  padding: 40px 0 80px;
}
@media (max-width: 767px) {
  .testimonial .testimonial-wrap {
    padding: 30px 0 10px;
  }
}
.testimonial .testimonial-wrap .swiper {
  padding-top: 50px;
}
.testimonial .testimonial-wrap .swiper .swiper-wrapper .swiper-slide {
  transition: 0.3s;
}
.testimonial .testimonial-wrap .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  transition: 0.3s;
  transform: translateY(-50px);
}
@media (max-width: 767px) {
  .testimonial {
    padding: 60px 0 0;
  }
}

.club-banner {
  background: #fff5f5;
  padding: 30px 0;
}
.club-banner h2 {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-weight: 700;
  padding-bottom: 30px;
}
.club-banner p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5254901961);
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .club-banner p {
    padding-bottom: 10px;
  }
}

.join-community {
  padding: 80px 0 20px;
  background: url(../images/CT/cbg2.png) no-repeat bottom center;
}
.join-community .top {
  text-align: center;
}
.join-community .top h4 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.join-community .top h4::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
  border-radius: 17px;
}
.join-community .top p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.join-community .inner-c {
  padding-top: 35px;
}
.join-community .inner-c .item {
  padding-bottom: 35px;
  display: flex;
  align-items: start;
}
.join-community .inner-c .item .image {
  margin-right: 25px;
}
.join-community .inner-c .item .image img {
  width: 65px;
}
.join-community .inner-c .item h5 {
  font-weight: 700;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 15px;
}
.join-community .inner-c .item p {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}
@media (max-width: 767px) {
  .join-community {
    padding: 20px 0;
  }
  .join-community .top h4 {
    font-size: 30px;
  }
  .join-community .top p {
    font-size: 16px;
    text-align: center;
  }
  .join-community .inner-c {
    background: url(../images/CT/cbg2.png) no-repeat top center;
  }
  .join-community .inner-c .item {
    flex-direction: column;
  }
  .join-community .inner-c .item .image {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
  }
  .join-community .inner-c .item .image img {
    width: 45px;
  }
  .join-community .inner-c .item .text h5 {
    font-size: 20px;
    text-align: center;
  }
  .join-community .inner-c .item .text p {
    font-size: 16px;
  }
}

.qualify {
  padding: 35px 0;
  background: url(../images/CT/f2bg1.png) no-repeat;
  font-family: "Roboto", sans-serif;
}
.qualify .header {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 35px;
}
.qualify .qualty {
  padding: 20px 0;
  background: url(../images/CT/f2bg2.png) no-repeat center center;
}
.qualify .item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.qualify .item p {
  padding-left: 25px;
  font-weight: 600;
}
.qualify .para-g {
  padding-top: 25px;
  font-size: 32px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .qualify {
    padding: 25px 0;
    background: url(../images/CT/f2bg1.png) no-repeat top left;
  }
  .qualify .header {
    font-size: 20px;
    padding-bottom: 0;
  }
  .qualify .qualty {
    padding: 0;
    background: url(../images/CT/f2bg2.png) no-repeat bottom center;
  }
  .qualify .qualty .item {
    padding-left: 20px;
  }
  .qualify .qualty .item img {
    width: 20px;
  }
  .qualify .qualty .item p {
    font-size: 14px;
    padding-left: 10px;
  }
  .qualify .para-g {
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
}

.join-now {
  background: url(../images/Mask.png) no-repeat top center/cover;
}
.join-now h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #673AB7;
  padding-bottom: 20px;
}
.join-now .form-join {
  background: #CE93D8;
  padding: 20px 40px;
  color: #FFFFFF;
}
.join-now .form-join h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}
.join-now .form-join .input-c {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  font-size: 30px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff5f5;
}
.join-now .form-join .input-c::-moz-placeholder {
  color: #fff5f5;
  font-size: 30px;
}
.join-now .form-join .input-c::placeholder {
  color: #fff5f5;
  font-size: 30px;
}
.join-now .form-join .input-c option {
  color: #000;
}
.join-now .form-join .rradio label {
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}
.join-now .form-join .rradio input {
  width: 30px;
  height: 30px;
}
.join-now .form-join .submit-btn {
  color: #673AB7;
  font-size: 40px;
  font-weight: 700;
  background: #fff;
  padding: 10px 25px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .join-now h2 {
    font-size: 30px;
  }
  .join-now .form-join h4 {
    font-size: 20px;
  }
  .join-now .form-join .input-c {
    font-size: 16px;
  }
  .join-now .form-join .input-c::-moz-placeholder {
    font-size: 16px;
  }
  .join-now .form-join .input-c::placeholder {
    font-size: 16px;
  }
  .join-now .form-join .rradio label {
    font-size: 16px;
  }
  .join-now .form-join .rradio input {
    width: 16px;
    height: 16px;
  }
  .join-now .form-join .submit-btn {
    font-size: 20px;
    padding: 10px 35px;
  }
}/*# sourceMappingURL=style.css.map */