.home-banner {
    background: url(../images/Home/banner-bg.png) no-repeat center center;
    padding: 60px 0;

    @media(max-width:767px) {
        padding: 40px 0;

    }

    .t-wrap {
        position: relative;

        .frnd-img {
            position: absolute;
            bottom: 90%;
            left: 90%;
            width: 200px;
        }

        @media(max-width:1199px) {
            .frnd-img {
                left: 75%;
                bottom: 70%;
            }
        }

        @media(max-width:767px) {

            .frnd-img {
                width: 120px;
                left: calc(100% - 140px);
            }
        }
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        padding-bottom: 30px;

        span {
            color: #673AB7;
        }

        @media(max-width:767px) {
            font-size: 30px;
            padding-bottom: 20px;
        }
    }

    p {
        font-family: 'Roboto', sans-serif;
        color: rgba(#000000, 0.54);
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 15px;

        @media(max-width:767px) {
            font-size: 16px;
        }
    }
}

.features {
    padding: 60px 0;
    background: url(../images/Home/bbg2.png) no-repeat left center;

    @media(max-width:767px) {
        padding: 30px 0;
    }

    .top {
        h4 {
            font-size: 48px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;

            &::after {
                position: absolute;
                content: '';
                height: 6px;
                width: 40%;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
                border-radius: 17px;
            }
        }
    }

    .texts {
        padding-top: 20px;

        .item {
            padding-bottom: 30px;
            padding-left: 30px;

            img {
                width: 50px;
                margin-left: -30px;
            }

            h4 {
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                font-weight: 700;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 400;
                color: rgba(#000000, 0.87);
            }

            @media(max-width:767px) {
                padding: 0 15px 20px;

                h4 {
                    font-size: 20px;
                    text-align: center;
                    line-height: 0px;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.special {
    padding: 60px 0;
    background: url(../images/Home/hbbg3.png) no-repeat center center;

    h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 30px;
    }

    h3 {
        color: #673AB7;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: 600;
    }

    @media(max-width:767px) {
        padding: 30px 0px;
        text-align: center;

        h4 {
            font-size: 40px;
        }

        p {
            font-size: 12px;
        }

        h3 {
            font-size: 40px;
        }
    }
}

.testimonial {
    background: url(../images/Mask.png) no-repeat top center/cover;
    padding: 60px 0;

    .top {
        h4 {
            font-size: 48px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;

            &::after {
                position: absolute;
                content: '';
                height: 6px;
                width: 15%;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
                border-radius: 17px;
            }
        }
    }

    .testimonial-wrap {
        padding: 40px 0 60px;

        @media(max-width:767px) {
            padding: 30px 0;
        }

        .swiper {
            padding-top: 50px;

            .swiper-wrapper {
                .swiper-slide {
                    transition: 0.3s;

                    &.swiper-slide-active {
                        transition: 0.3s;
                        transform: translateY(-50px);
                    }
                }
            }

        }
    }

    @media(max-width:767px) {
        padding: 60px 0 0;
    }
}