.home-banner {
    background: url(../images/Home/banner-bg.png) no-repeat center center;
    padding: 40px 0;

    .t-wrap {
        position: relative;

        .frnd-img {
            position: absolute;
            bottom: 90%;
            left: 90%;
            width: 200px;
        }
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        padding-bottom: 30px;

        span {
            color: #673AB7;
        }
    }

    p {
        font-family: 'Roboto', sans-serif;
        color: rgba(#000000, 0.54);
        font-weight: 600;
        font-size: 32px;
        padding-bottom: 15px;
    }
}

.features {
    padding: 45px 0 100px;
    background: url(../images/Home/bbg2.png) no-repeat left center;

    .top {
        h4 {
            font-size: 48px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;

            &::after {
                position: absolute;
                content: '';
                height: 6px;
                width: 40%;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                background: linear-gradient(169.02deg, #B2EBF2 -58.33%, #D1C4E9 60.57%);
                border-radius: 17px;
            }
        }
    }

    .texts {
        padding-top: 20px;

        .item {
            padding-bottom: 30px;
            padding-left: 30px;

            img {
                width: 50px;
                margin-left: -30px;
            }

            h4 {
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                font-weight: 700;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 400;
                color: rgba(#000000, 0.87);
            }
        }
    }
}

.special {
    padding: 80px 0 100px;
    background: url(../images/Home/hbbg3.png) no-repeat center center;

    h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 30px;
    }

    h3 {
        color: #673AB7;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: 600;
    }
}

.testimonial {
    background: url(../images/Mask.png) no-repeat top center/cover;

    .testimonial-wrap {
        padding: 120px 0;
    }
}